<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>İNCEBELLİ Cafe&Bistro</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="assets/js/modernizr.custom.js"></script>
    
  </head>

  <body>

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="http://incebelli.net">İNCEBELLİ</a></h1>
			<i class="fa fa-arrow-right menu-close"></i>
			<a href="http://incebelli.net">AnaSayfa</a>
			<a href="http://incebelli.net/hakkimizda">Hakkımızda</a>
			<a href="http://incebelli.net/franceishe">Franceishe</a>
			<a href="http://incebelli.net/galeri">GALERİ</a>
			<a href="http://incebelli.net/menu">MENU</a>
			<a href="https://incebelli.net/#contact">İLETİŞİM</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>
	
	<!-- MAIN IMAGE SECTION -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>İncebelli</h1>
					<h2>Çayın Tarifini Baştan Yazıyoruz</h2>
					<div class="spacer"></div>
					<i class="fa fa-angle-down"></i>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8">
	        <h1>İncebelli ailesine hoşgelsin.</h1>
	        <p>Bizimle birlikte çalışmak isteyen heryerde olmak için can atan ortaklarımızı arıyoruz. Bende incebelli ailesine katılmak istiyorum diyorsan bir form uzağındayız. </p>
      	</div>
      	<div class="col-lg-4">
			<p class="pull-right"><br><button type="button" class="btn btn-green"><a href="https://incebelli.net/franceishe" style="color: #ffffff">Başvuru için Tıkla</a></button></p>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->
    
    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
    	<div class="container">
	    	<div class="row mt">
				<ul class="grid effect-2" id="grid">
					<li><a href="https://incebelli.net/galeri"><img src="assets/img/portfolio/1.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img src="assets/img/portfolio/3.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img src="assets/img/portfolio/4.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img src="assets/img/portfolio/2.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img src="assets/img/portfolio/5.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img src="assets/img/portfolio/6.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img height="215" width="100%" src="assets/img/portfolio/8.jpg"></a></li>
					<li><a href="https://incebelli.net/galeri"><img height="190" width="100%" src="assets/img/portfolio/7.jpg"></a></li>
				</ul>
	    	</div><!-- row -->
	    </div><!-- container -->
    </div><!-- portfolio -->


	<!-- SERVICES SECTION -->
	<div id="hakkimizda">
		<div class="container">
			<div class="row mt">
				<div class="col-lg-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-lg-3">
					<h3>Kaliteli Dizayn</h3>
					<p>Eşsiz dizaynımızla sizlere hizmete başlamak için sabırsızlanıyoruz.</p>
				</div>

				<div class="col-lg-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-lg-3">
					<h3>Normal dışında</h3>
					<p>İncebellide içtiğiniz çayın tadını başka yerde bulamıcaksınız.</p>
				</div>
			
			
				<div class="col-lg-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-lg-3">
					<h3>Heryerde Sizleyiz</h3>
					<p>Türkiye'nin çoğu işlek meydanlarında incebelli bardakla karşılaşabilirsiniz.Gelin bir çayımızı için :)</p>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- services section -->
	
	
	<!-- BLOG POSTS -->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>İncebelli Blog</h1>
			</div><!-- col-lg-12 -->
			<div class="col-lg-8">
				<p>İncebelli hakkında ki gelişmeleri blog yazılarımızdan takip edebilirsiniz.</p>
			</div><!-- col-lg-8-->

		</div><!-- row -->
		
		<div class="row mt">
			<div class="col-lg-4">
				<img class="img-responsive" style="height: 238px" src="assets/img/post01.jpg" alt="">
				<h3><a href="#">İncebelli.net Yayında</a></h3>
				<p>İncebelli.net yayın hayatına başladı.</p>
				<p><a href=""><i class="fa fa-link"></i> Daha Fazlası</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/post02.jpeg" alt="">
				<h3><a href="#">Franchising Başvuruları</a></h3>
				<p>Franchising başvuruları başladı.</p>
				<p><a href="#"><i class="fa fa-link"></i> Daha Fazlası</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/post03.jpg" alt="">
				<h3><a href="#">Biz Kimiz?</a></h3>
				<p> Biz Kimiz? İncebelli nasıl doğdu?</p>
				<p><a href="#"><i class="fa fa-link"></i> Daha Fazlası</a></p>
			</div>		
		</div><!-- row -->
	</div><!-- container -->
	
	

	
	<!-- incebelli hikayesi -->
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>Bir İnce Belli Çay Bardağı Hikayesi</h3>
				<div class="col-lg-6">
					<p>Türk çayının ayrılmaz parçası, canımız ciğerimiz ince belli çay bardağı. Peki gündelik hayat içerisinde sürekli yan yana olduğumuz, çay bardaklarının şahı ince belli çay bardağının hikayesini hiç dinlemişmiydiniz?
						Türk tarzı çay bardağının ilk kez kim tarafından tasarlandığı konusunda net bir bilgi yok. Yalnızca Hoca Ali Rıza’nın Semaver adlı tablosunda çay bardağı öğesine rastlıyoruz. Hoca Ali Rıza’nın vefat tarihinin 1930 yılını gösterdiği göz önüne alındığında,çay bardağının yaklaşık 80 küsur yıldır hayatımızda var olduğunu görebiliriz. Hoca Ali Rıza’nın Semaver adlı tablosunda iseince belli formunda çay bardağı resmettiği görülmektedir.</p>

					<p>Günümüzde genç yaşlı fark etmeksizin bir çay tiryakisinin vazgeçemediği tek şey ince belli bardaktır. İnce belli bardak dışında da farklı çay bardakları üretilmişse de bu çay bardakları hiçbir zaman ‘bir ince belli değil’ dir.</p>
				</div>
				<div class="col-lg-6">
					<img height="400" width="100%" src="assets/img/gelbicay.jpeg" alt="">
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Call to action -->
	
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Bağlantıda Kalalım...</h1>
				<p>Bizden haberdan olmak için sosyal medyadan da takipte kalabilirsiniz.</p>
				<br>
			</div><!-- col-lg-12 -->
		</div><!-- row -->
	</div><!-- container -->
	
	
	<!-- sosyal ag FOOTER --->
	<section id="contact"></section>
	<div id="sf">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 dg">
					<h4 class="ml">FACEBOOK</h4>
					<p class="centered"><a href="https://www.facebook.com/www.incebelli.org/"><i class="fa fa-facebook"></i></a></p>
					<p class="ml">> Takip Et</p>
				</div>
				<div class="col-lg-4 lg">
					<h4 class="ml">TWITTER</h4>
					<p class="centered"><a href="#"><i class="fa fa-twitter"></i></a></p>
					<p class="ml">> Takip Et</p>
				</div>
				<div class="col-lg-4 dg">
					<h4 class="ml">GOOGLE +</h4>
					<p class="centered"><a href="#"><i class="fa fa-google-plus"></i></a></p>
					<p class="ml">> Takip Et</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Social Footer -->
	
	<!-- iletisim FOOTER --->
	<div id="cf">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
		        	<div id="mapwrap">
						<iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d97530.40216235993!2d28.951490260964913!3d40.19070634382525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1511459844874"></iframe>
					</div>
				</div><!--col-lg-8-->
				<div class="col-lg-4">
					<h4>ADRES<br/></h4>
					<br>
					<p>
						Bursa, Türkiye
					</p>
					<p>
						Birol Kınabaş: 0535-666 8573<br/>
						E: <a href="mailto:#">incebelli16@gmail.com</a>
					</p>
					<p>İletişim için mail atabilirsiniz.</p><br>
					<p>Tüm hakkı incebelli.net için saklıdır.Çalınamaz yada kopyalanamaz...</p>
				</div><!--col-lg-4-->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Contact Footer -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
	<script src="assets/js/masonry.pkgd.min.js"></script>
	<script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/classie.js"></script>
	<script src="assets/js/AnimOnScroll.js"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
  </body>
</html>
